---
import Layout from '../layouts/Layout.astro';
import HomeHero from '../components/home/HomeHero.astro';
import FeaturedProduct from '../components/home/FeaturedProduct.astro';
---

<Layout>
	<main>
        <HomeHero />
        <FeaturedProduct />
	</main>
</Layout>
