---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sweatshirt/Hero.astro';
import Features from '../components/sweatshirt/Features.astro';
import Lifestyle from '../components/sweatshirt/Lifestyle.astro';
import Action from '../components/sweatshirt/Action.astro';
---

<Layout>
	<main>
        <Hero />
        <Features />
        <Lifestyle />
        <Action />
	</main>
</Layout>